@model decimal?
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="padding:30px; border: double red 3px; font-family:'Comic Sans MS'; color:green;"> 
        <h1>Total Count </h1>@Model
    </div>
</body>
</html>